@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  /* Scrollbar para ambos temas */
  * {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: theme("colors.gray.400") transparent;
  }

  /* Webkit (Chrome, Edge, Safari) */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: theme("colors.gray.400");
    border-radius: 4px;
  }

  /* Scrollbar en modo oscuro */
  .dark * {
    scrollbar-color: theme("colors.gray.600") theme("colors.gray.800");
  }

  .dark *::-webkit-scrollbar-thumb {
    background-color: theme("colors.gray.600");
  }

  .dark *::-webkit-scrollbar-track {
    background-color: theme("colors.gray.800");
  }
}

.loader {
  width: 50px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #999 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
